@font-face {
    font-family: 'mifuente';
    src: url('resources/m04.ttf') format("truetype");
    font-weight: 40;
    font-weight: normal;

}

/*https://www.w3schools.com/howto/howto_js_popup_chat.asp*/
/* The popup chat - hidden by default */

  body{
    font-family: 'mifuente';
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    flex-direction: row-reverse;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  html, body {
    height: 100%;
    margin: 10;
    padding: 10;
  }

.chat {
    top: 1%;
    right: 30px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    margin: 10px;
    background-color: white;
    align-content: stretch;
    width: calc(100% - 960px);
}

.messages {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 96%;
    /*padding: 10px;*/
    margin: 0 10px 0 10px;
    max-height: 400px;
    min-height: 300px;
    max-width: 100%;
    resize: none;
    border: 1px solid black;
    overflow-y: auto;
}

.message-mine {
    text-align: right;
    background-color: rgb(127, 255, 223);
    border-radius: 10%;
    margin: 1px;
}

.message-other {
    text-align: left;
    background-color: rgb(135, 219, 222);
    border-radius: 10%;
    margin: 1px;
}

.message-connection {
    text-align: center;
    background-color: darkturquoise;
    border-radius: 10%;
    margin: 1px;
}

.message-disconnection {
    text-align: center;
    background-color: rgba(255, 38, 0, 0.74);
    border-radius: 10%;
    margin: 1px;
}

/* Add styles to the form container */
.form-container {
    align-content: center ;
    max-width: 100%;
    padding: 10px;

}

/* Full-width textarea */
.form-container textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    max-width: 300px;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}